.slick-prev {
  left: 25px;
  position: absolute;
  z-index: 10;
}

.slick-next {
  right: 25px;
  position: absolute;
  z-index: 10;
}

#klien-kami .slick-prev {
  left: -50px;
  position: absolute;
  z-index: 10;
}

#klien-kami .slick-prev:before {
  color: #45a1e4;
}

#klien-kami .slick-next {
  right: -50px;
  position: absolute;
  z-index: 10;
}

#klien-kami .slick-next:before {
  color: #45a1e4;
}

.page-section-footer {
  padding: 3rem 0;
}

.form-small {
  height: 1.8rem;
  font-size: 10px;
  margin-bottom: 0.15rem;
}

.color-primary {
  color: #45a1e4;
}

.btn-blue-cover {
  width: 100%;
}

.btn-blue-cover .btn-blue {
  width: 100%;
  background-color: #2f318b;
}

.btn-blue-cover .btn-blue:hover {
  width: 100%;
  background-color: #2f318b99;
}

.page-section-2 {
  padding-bottom: 0px;
}

.accordion.smallsize > .card > .card-header {
  padding: 0.3rem 0.1rem;
}

.accordion.smallsize > .card > .card-header {
  padding: 0px;
}

.accordion.smallsize > .card > .card-header button:hover,
.accordion.smallsize > .card > .card-header button:focus {
  background: #45a0e322;
  text-decoration: none;
}

.accordion.smallsize > .card > .card-header button {
  width: 100%;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: left;
  padding: 0.4rem 0.5rem;
}

.accordion.smallsize > .card > .card-body {
  padding: 0.9rem;
}

.custom-fa {
  width: 4rem;
  font-size: 2rem;
  padding: 1rem;
  border: solid #fff8 1px;
  margin-right: 10px;
}

.fa-image-size {
  width: 3rem;
}

.article-list:hover,
.article-list:focus {
  background: #45a1e400;
}

.article-list:hover,
.article-list:focus {
  background: #45a1e433;
  -webkit-transition: background 1000ms linear;
  transition: background 1000ms linear;
}

.article-list a:hover,
.article-list a:focus {
  text-decoration: none;
  color: #2f318b;
}

.thumbnail {
  display: -webkit-box;
  display: flex;
}

.article-list .content-cover h3 {
  font-size: 1.5rem;
}

.you-may-like ul {
  list-style: none;
  -webkit-padding-start: 0.5rem;
          padding-inline-start: 0.5rem;
}

.about-us {
  height: 400px;
  position: relative;
  top: -3rem;
}

.about-us-page .progressbar {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.about-us-page .circle {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.about-us-page .circle canvas {
  vertical-align: middle;
  border: 2px solid #2f318b;
  border-radius: 50%;
}

.about-us-page .progressbar-non-presentage .circle canvas {
  border: none;
}

.about-us-page .progressbar-cover i {
  position: relative;
  bottom: -3rem;
  font-size: 2rem;
}

.about-us-page .progressbar-cover span {
  position: relative;
  top: -4rem;
  font-size: 1rem;
}

.about-us-page .progressbar-cover .progressbar-non-presentage {
  top: -1rem;
  position: relative;
}

.about-us-page .circle div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -86px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 31px;
}

.about-us-page .circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.about-us-page .circle span {
  display: block;
  color: white;
  margin-top: 12px;
}

.page-section-hide {
  opacity: 0;
}

.bg-grey {
  background: #efefef;
}

.table-ib {
  display: inline-block;
}

@media (max-width: 991px) {
  .article-list .content-cover h3 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }

  .article-list .content-cover {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  .article-list .content-cover {
    padding: 1rem 3rem 0.5rem 1rem;
  }
}

