// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}

// Custom horizontal rules
//hr.divider {
//  max-width: 3.25rem;
//  border-width: 0.2rem;
//  border-color: $primary;
//}
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $blue;
}

hr.light {
  border-color: $white;
}

// Button restyling
.btn {
  font-family: $font-family-sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.slick-slider {
  .style-1{
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 2rem;
    }
  }
  .style-2{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.6rem;
    }
  }
  .style-3{
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1.2rem;
    }
  }
}

.page-section {
  padding: 8rem 0;
  .about-us-background{
    background: url("/site/img/portfolio/thumbnails/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    text-align: center;
    .text-cover{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.scroll-up{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background: #449ee0;
  padding: 1rem;
  border-radius: 5rem;
  margin: 0px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  &.hide-button{
    bottom: -6rem;
  }
  i{
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    top: -3px;
    position: relative;
    color: #fff;
  }
}

.mobile-only {
  display: none;
}
@include media-breakpoint-down(md) {
  .scroll-up{
    bottom: 6.5rem;
  }
  .mobile-only {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: block;
    .col-20{
      width: 20%;
      padding: 1rem;
      &.active, &:focus, &:active{
        border-bottom: solid 6px #45a1e4;
      }
      p{
        font-size: 0.6rem;
        height: 20px;
      }
    }
    .parent{
      display:inline-block;
    }
  }
}